<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>管理者ログイン</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
  <a th:href="@{/login}" class="switch-button">一般社員ログインはこちら</a>

  <div class="login-container">
    <div class="login-left admin-color">
      <h1>管理者マイページへログイン</h1>
    </div>
    <div class="login-right">
      <form th:action="@{/admin-login}" method="post">
        <label for="email">メールアドレスを入力</label>
        <input type="email" id="email" name="email" required />

        <label for="password">パスワードを入力</label>
        <input type="password" id="password" name="password" required />

        <button type="submit">ログイン</button>
        
    <p th:if="${error}" th:text="${error}" style="color:red;"></p>
      </form>
    </div>
  </div>
</body>
</html>