<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>アカウント編集</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
    <a th:href="@{/admin}" class="logout-btn">EXIT</a>

    <main class="login-container">
        <div class="login-left">
            <h1>アカウント編集</h1>
        </div>
        <div class="login-right">
            <form th:action="@{/update}" th:object="${employee}" method="post">
                <input type="hidden" th:field="*{id}" />

                <label for="email">メールアドレス</label>
                <input type="email" id="email" th:field="*{email}" required />

                <label for="name">名前</label>
                <input type="text" id="name" th:field="*{name}" required />

                <label for="name">パスワード</label>
                <input type="password" id="password" th:field="*{password}" required />

                <label for="isAdmin">管理者権限</label>
                    <input type="checkbox" th:field="*{admin}" /> 
                

                <button type="submit">更新</button>

                <p th:if="${error}" th:text="${error}" style="color:red;"></p>
            </form>
        </div>
    </main>

</body>

</html>